     .thumbnail {
        width: 100%;
      }

      

      .video-title {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
      }

      
      .channel-picture {
        display: inline-block;
        width: 40px;
        vertical-align: top;
      }

      .video-info {
        display: inline-block;
        width: 200px;
      }

      .profile-picture {
        width: 40px;
        border-radius: 50px;
      }

      .thumbnail-row {
        margin-bottom: 12px;
        position: relative'
      }

      .video-author,
      .video-stats {
        font-size: 12px;
        color: rgb(96, 96, 96);
      }

      .video-author {
        margin-bottom: 4px;
      }

      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
      }

      .video-time{
        font-family: Roboto, Arial;
        background-color: black;
        color: white;
        position: absolute;
        bottom: 415px;
        right: 990px;
        font-weight: 500;
        font-size: 18px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
      }