.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.middle-section{
    margin-left: 70px;
    margin-right: 35px;
    max-width: 480px;
    flex: 1;
    display: flex;
    align-items: center;
}
.right-section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}
.search-bar{
    flex: 1;
    height: 31.5px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(203, 203, 203);
    border-radius: 3px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-button{
    height: 35.1px;
    width: 60px;
    background-color: rgb(230, 230, 230);
    border-width:1px;
    border-style: solid;
    border-color: rgb(203, 203, 203);
    margin-left: -1px;
    margin-right: 8px;
}
.voice-button{
    height: 35.1px;
    width: 40px;
    border-radius: 20px;
    border: none;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-icon{
    height: 25px;
    margin-top: 3px;
}
.voice-icon{
    height: 24px;
    margin-top: 3px;
    background-color: rgb(240, 240, 240);
}
.upload-icons{
    height: 24px;
}
.youtube-apps-icons{
    height: 24px;
}
.notification-icons{
    height: 24px;
}
.current-user-picture{
    height: 32px;
    border-radius: 16px;
}
